<!DOCTYPE html>
<html>

<head>
    <title>meh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="shadow-lg p-3 my-auto bg-white rounded flex-center w-60 h-60">
            <form class="inputForm" enctype="multipart/form-data" action="/convert" method="POST">
                <h3 class="display-4">Convert your recipe</h3><br /><br /> 
        
                <label class="btn btn-outline-dark">
                    <i class="fa fa-image"></i>Choose File<input id="imageFile" type="file" accept="image/*" name="imageFile" style="display: none;">
                </label>
        
                <div class="image-preview" id="imagePreview">
                    <img id="imagePreviewImage" class="img-fluid" src="#" alt="IMAGE" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 400px;"/>
                </div>
        
                <input class="btn btn-outline-dark" type="submit" value="Upload" style="margin-top: 10px; margin-bottom: 20px;"></button>
        
                <p class="lead">Converted recipes</p>
                <textarea class="form-input" id="output-recipe" onload="show_alert('{{text_detected}}')" placeholder="Converted recipe will appear here" style="width: 400px; height: 400px; ">{{text_detected}}</textarea>

            </div>
        </div>
    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } 
        }
    
        $("#imageFile").change(function(){
            readURL(this);
        });
    </script>

</body>

</html>